.ourTeam {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  @include section_title;
  @include tablet {
    margin-bottom: 0;
  }

  &__elements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include tablet {
      max-width: 100%;
      padding-bottom: 0;
    }

    .item {
      width: 30%;
      padding: 20px 0;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        max-height: 440px;
      }

      &__img {
        width: 100%;
        overflow: hidden;
        @include tablet {
          height: 45%;
        }

        img {
          height: 100%;
        }
      }
      &__name {
        padding: 10px 0;
        h2 {
          font-family: $exo;
          color: $color-primary;
          @include tablet {
            font-size: 3rem;
          }
        }
      }
      &__social {
        p {
          font-family: $open-sans;
          font-size: 1.6rem;
          color: $color-light-grey;
          padding: 15px 0;
        }

        &__icons {
          display: flex;
          justify-content: center;
          i {
            font-size: 1.8rem;
            color: $color-light-grey;
            margin: 0 15px;
            transition: 0.3s;
            &:hover {
              cursor: pointer;
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
