.priceList {
  min-height: 500px;
  margin-top: 100px;
  position: relative;
  padding-top: 100px;
  background: $color-third;

  color: white;
  @include section_title;

  .price {
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 24%;
      padding: 55px 0 15px 0;
      margin: 35px 0 100px 0;
      border: 3px solid $color-fourth;

      &:hover {
        background: $color-fourth;
        cursor: pointer;
      }

      &__title {
        font-family: $open-sans;
        font-weight: 700;
        font-size: 1.6rem;
      }
      &__price {
        font-family: $exo;
        font-weight: 700;
        font-size: 7rem;
        margin: 15px 0 30px 0;
      }
      &__desc {
        list-style: none;
        width: 100%;
        font-size: 1.4rem;
        padding: 0;
        li {
          padding: 10px 0;
          text-align: center;
        }
      }
      &__button {
        padding: 15px 0;
      }
    }
  }
}
