.schedule {
  @include section_title;
  margin-top: 100px;
  margin-bottom: 50px;

  &__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .item {
      width: 32%;
      //   border: 1px solid black;

      &__img {
        overflow: hidden;
        height: 238px;
        img {
          width: 100%;
        }
      }
      &__date {
        font-size: $open-sans;
        color: $color-light-grey;
        font-size: 1.6rem;
        padding: 10px 0;
        i {
          padding: 0 5px;
        }
      }
      &__desc {
        padding: 0 5px;
        h2 {
          color: $color-primary;
          font-size: 2.4rem;
          font-family: $exo;
          font-style: italic;
          text-align: left;
          margin: 10px 0;
        }
        p {
          font-family: $open-sans;
          font-size: 1.6rem;
          color: $color-light-grey;
        }
      }
    }
  }
}
