.schedule {
  @include section_title;
  margin-top: 100px;
  margin-bottom: 50px;

  &__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
    }
    // @include tablet {
    //   width: 100%;
    //   text-align: center;
    //   min-height: 100px;
    //   margin: 20px 0;
    // }

    .item {
      width: 32%;
      @include mobile {
        width: 90vw;
        margin: 0 auto;
      }
      //   border: 1px solid black;

      &__img {
        text-align: center;
        overflow: hidden;
        img {
          width: 80%;
          min-width: 250px;
        }
      }
      &__date {
        font-size: $open-sans;
        color: $color-light-grey;
        font-size: 1.6rem;
        padding: 10px 0;
        text-align: center;
        i {
          padding: 0 5px;
        }
      }
      &__desc {
        padding: 0 5px;
        h2 {
          color: $color-primary;
          font-size: 2.4rem;
          font-family: $exo;
          font-style: italic;
          text-align: left;
          margin: 10px 0;
        }
        p {
          font-family: $open-sans;
          font-size: 1.6rem;
          color: $color-light-grey;
          @include mobile {
            margin: 20px auto 70px auto;
          }
        }
      }
    }
  }
}
