.workouts {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  // border: 1px solid red;
  @include section_title;

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column;
      align-items: center;
      padding: 0 30px;
      margin-top: 50px;
      margin-bottom: 25px;
    }
    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    // border: 1px solid green;
  }
  .element {
    display: flex;
    width: 50%;
    padding: 10px;
    min-height: 200px;
    margin: 50px 0;
    // align-items: center;
    // border: 1px solid black;
    @include mobile {
      width: 100%;
      text-align: center;
      min-height: 100px;
      margin: 20px;
    }
    @include tablet {
      width: 100%;
      text-align: center;
      min-height: 100px;
      margin: 20px 0;
    }
    // border: 1px solid black;

    &__img {
      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
      flex-grow: 4;
      // border: 1px solid orange;
      padding: 10px;
      img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }
    }
    &__desc {
      text-align: left;
      flex-grow: 6;
      padding: 10px;
      font-family: $open-sans;
      // border: 1px solid yellowgreen;
      &__header {
        font-size: 2rem;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 5px 0;
        text-transform: capitalize;
      }
      &__title {
        font-family: $exo;
        font-size: 3.6rem;
        color: $color-primary;
        font-weight: 700;
        margin: 5px 0;
        font-style: italic;
        text-transform: capitalize;
      }
      &__article {
        font-size: 1.6rem;
        margin: 20px 0;
        color: $color-light-grey;
      }
      &__link {
        align-items: center;
        font-family: $exo;
        font-size: 1.6rem;
        margin: 10px 0;
        font-weight: 700;
        text-transform: uppercase;
        i {
          color: $color-primary;
          padding: 0 10px;
          font-size: 1.5rem;
        }
        &:hover {
          color: $color-primary;
          cursor: pointer;
          transition: 0.3s;
        }
      }
    }
  }
}
