@mixin underline($color) {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 2px;
    width: 150px;
    background: $color;
  }
}

@mixin section_title {
  &__title {
    position: relative;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    @include underline($color-primary);

    p {
      text-transform: none;
      margin: 30px 0;
      font-size: 1.75rem;
      font-family: $open-sans;
    }
  }
}
@mixin tablet {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
