@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
h1 {
  font-size: 15rem;
}
h2 {
  font-size: 3.7rem;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: $montserrat;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.main {
  position: relative;
  height: calc(100vh - 50px);
  background-image: url("../../src/img/img3.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.nav {
  background-color: #121315;
  width: 100%;
  &__container {
    max-width: 1360px;
    height: 50px;
    margin: 0 auto;
    color: white;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  &__logo {
    font-size: 3rem;
    font-family: $exo;
    font-style: italic;
    flex-grow: 3;
    font-weight: 700;
    letter-spacing: 3px;
    span {
      color: $color-primary;
    }
  }
  &__items {
    font-size: 1.2rem;
    flex-grow: 7;
    color: $color-primary;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      font-weight: 700;
    }
    li {
      padding: 10px;
    }

    li:hover {
      position: relative;
      color: white;
    }
  }
}

.active {
  position: relative;
  color: $color-primary;
  color: white;

  &::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 2px;
    background: white;
    display: block;
  }
}
.main__text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 4px;
  font-family: $exo;
  font-style: italic;
  font-weight: bold;
}
.section {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  // border: 1px solid red;
  &__title {
    position: relative;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    @include underline($color-primary);

    p {
      margin: 30px 0;
      font-size: 1.2rem;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid green;
  }
  .element {
    display: flex;
    width: 50%;
    padding: 10px;
    min-height: 200px;
    margin: 50px 0;
    // align-items: center;
    // border: 1px solid black;

    &__img {
      flex-grow: 4;
      // border: 1px solid orange;
      padding: 10px;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    &__desc {
      text-align: left;
      flex-grow: 6;
      padding: 10px;
      font-family: $open-sans;
      // border: 1px solid yellowgreen;
      &__header {
        font-size: 1.6rem;
        font-weight: 700;
        margin: 5px 0;
        text-transform: capitalize;
      }
      &__title {
        font-family: $exo;
        font-size: 3.6rem;
        color: $color-primary;
        font-weight: 700;
        margin: 5px 0;
        font-style: italic;
        text-transform: capitalize;
      }
      &__article {
        font-size: 1.6rem;
        margin: 20px 0;
        color: $color-light-grey;
      }
      &__link {
        align-items: center;
        font-family: $exo;
        font-size: 1.6rem;
        margin: 10px 0;
        font-weight: 700;
        text-transform: uppercase;
        i {
          color: $color-primary;
          padding: 0 10px;
          font-size: 1.5rem;
        }
        &:hover {
          color: $color-primary;
          cursor: pointer;
          transition: 0.3s;
        }
      }
    }
  }
}
