@import "./fonts";
@import "./mixins";
@import "./variables";
@import "./buttons";
@import "./animations";
@import "./sections/MainPage/workouts";
@import "./sections/MainPage/transformation";
@import "./sections/MainPage/schedule";
@import "./sections/MainPage/joinUs";
@import "./sections/MainPage/ourTeam";
@import "./sections/MainPage/priceList";
@import "./sections/footer";

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
h1 {
  font-size: 13rem;
  @include mobile {
    font-size: 8rem;
  }
}
h2 {
  font-size: 3.7rem;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: $montserrat;
}
// Links
a {
  color: inherit;
  text-decoration: none;
}
// Container
.container {
  max-width: 1200px;
  margin: 0 auto;
}
//  Main photo
.main,
.programs {
  position: relative;
  height: calc(100vh - 50px);
  background-image: url("../../src/img/img3.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  @include mobile {
    width: 100%;
    top: 50px;
  }

  &__text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 4px;
    font-family: $exo;
    font-style: italic;
    font-weight: bold;
  }
}
.programs {
  background-image: url("../../src/img/img3_add.jpg");
}
// Top button
.top-button {
  position: fixed;
  bottom: 70px;
  right: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: $color-primary;
  z-index: 9999;
  transition: 0.2s;
  display: none;
  opacity: 0.6;
  @include mobile {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    @include mobile {
      font-size: 2.7rem;
    }
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
//  Navigation
.nav {
  background-color: #121315;
  width: 100%;
  padding: 50px 0;

  &.white {
    background: white;
  }

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  &__container {
    max-width: 1360px;
    height: 50px;
    margin: 0 auto;
    color: white;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__logo {
    font-size: 3rem;
    font-family: $exo;
    font-style: italic;
    flex-grow: 3;
    font-weight: 700;
    letter-spacing: 3px;

    &.white {
      color: black;
    }

    span {
      color: $color-primary;
    }
  }
  &__items {
    font-size: 1.2rem;
    flex-grow: 7;
    color: $color-primary;
    &.white {
      color: black;

      li:hover {
        color: $color-primary;
      }
    }
    @include mobile {
      position: absolute;
      right: 5%;
    }
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      font-weight: 700;
      @include mobile {
        display: none;
      }

      li {
        padding: 10px;
      }
      &.mobile_menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.959);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-name: showUp;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        border-radius: 50%;
      }
    }
    li:hover {
      position: relative;
      color: white;
    }
  }
}
// Top button show animation
.show {
  animation-name: slideUp;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  display: block;
}
// Top button hide animation
.hide {
  animation-name: slideDown;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
// Navigation active
.active {
  position: relative;
  color: white;

  &.white {
    color: $color-primary;

    &::after {
      background: $color-primary;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 2px;
    background: white;
    display: block;
  }
}

// Hamburger menu
.hamburger {
  z-index: 9999;
  position: relative;
  width: 40px;
  height: 40px;
  display: none;

  .span1,
  .span2,
  .span3 {
    position: absolute;
    top: 8px;
    left: 0;
    width: 38px;
    height: 4px;
    border-radius: 5px;
    background: white;
    transition: 0.1s ease-in-out;
    &.change {
      top: 18px;
      transform: rotate(-45deg);
    }
  }
  .span2 {
    top: 18px;
    &.change {
      opacity: 0;
    }
  }
  .span3 {
    top: 28px;
    &.change {
      top: 18px;
      transform: rotate(45deg);
    }
  }

  @include mobile {
    display: block;
    fill: $color-primary;
  }
  &:hover {
    cursor: pointer;
  }
}
